@import "indulge";

html {
  background-color: #F6F4F1!important;
  font-family: 'Abel',sans-serif;
  color: #846C63;
}

///////////////////////////////////////////////////////////////////////////////
                      /////////////////////////////////
                      /////////////Main Page///////////
                      /////////////////////////////////
//nav
.nav-white {
  background-color: white;
  .nav-options {
    li a {
      color: #88AAA9;
    }
  }
  .menu-icon {
    color: #2D5B60;
  }
  .brand-logo {
    color: #846C63;
  }
}

//accordion

.coffee-info {
  margin-top: 19px;
  a {
    margin: 1.5px;
    background-color: #88AAA9;
    color: white!important;
    font-family: 'Abel',sans-serif;
    font-weight: 100;
  }
  a:hover {
    background-color: #E48A1A;

  }
}

.coffee-contents {
  section {
    margin-top: 58px;
  }
  .title {
    padding-left: 10px;
    margin: 0;
  }
}

//footer

footer {
  background-color: rgba(189,177,173,0.1)!important;
  font-weight: 100;
  .footer-title {
    font-weight: 100;
  }
  .description {
    font-size: 13px;
    margin-bottom: 30px;
  }
  span {
    font-size: 12.2px;
    a {
      color: #88AAA9!important;
    }
  }
  .cat-list {
    color: #88AAA9!important;
    font-size: 15px;
    font-weight: 100;
  }
  .partner-list {
    color: #88AAA9!important;
    font-size: 15px;
    font-weight: 100;
  }
}
